tr{
    transition:0.2s;
}

tr:hover{
    background:#F9FAFB;
}

strong{
    display:block;
    margin-bottom:2px;
    color:#101828;
}

span{
    color:#667085;
}

.ativa{
    color:#12B76A;
    font-weight:400;
}

.afastada{
    color:#F79009;
    font-weight:400;
}

.desassociada{
    color:#F04438;
    font-weight:400;
}
.acoes {
    display: flex;
    gap: 6px;
    align-items: center;
}

.btn-editar,
.btn-excluir {
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    font-size: 11px;
    cursor: pointer;
    white-space: nowrap;
}

.btn-editar {
    background-color: #e91e63;
    color: #fce3ec;
}

.btn-excluir {
    background-color: #ffe5e5;
    color: #d32f2f;
}

.btn-editar:hover,
.btn-excluir:hover {
    opacity: 0.8;
}