.containerTabela{
    border: 1px solid #E7E7E7;
    border-radius: 10px;
    overflow: hidden;
    background: white;
    flex: 1;
}

.tabela{
    height: 100%;
    overflow-y:auto;
}

table{
    width:100%;
    border-collapse:collapse;
}

thead{
    position:sticky;
    top:0;
    background:white;
}

th{
    background-color: #F48FB1;
    text-align:center;
    padding:22px;
    color:#eff2f8;
    font-size:20px;
    border-bottom:1px solid #ECECEC;
}

td{
    padding:22px;
    border-bottom:1px solid #ECECEC;
    color:#344054;
    font-size:17px;
}