.navbar{
    height:50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 45px;
    border-bottom:1px solid #ECECEC;
    background:white;
}
.logo{
    height:35px;
}

.menu{
    display:flex;
    gap:40px;
}

.menu a{
    text-decoration:none;
    color:#888;
    font-size:14px;
}

.menu .ativo{
    color:#EC2D6B;
    font-weight:bold;
}

.ladoDireito{
    display:flex;
    align-items:center;
    gap:20px;
}

.btnExportar{
    width:160px;
    height:35px;
    border:none;
    border-radius:8px;
    background:#EC2D6B;
    color:white;
    font-size:small;
}

.btnExportar:hover{
    background:#f9769f;
    cursor:pointer;
}

.perfil{
    width:40px;
    height:40px;
    border-radius:50%;
}