.header{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    margin:10px 0;
}

.header h1{
    color:#EC2D6B;
    font-size:48px;
}

.header p{
    text-align: left;
    color:#F08AAE;
    font-size: larger;
}

.cadastrar{
    width:285px;
    height:60px;
    border:none;
    background:#EC2D6B;
    color:white;
    border-radius:8px;
    font-size: large;
}

.cadastrar:hover{
    background:#f9769f;
    cursor:pointer;
}